#location {
    background-color: darken($main-grey, 4);
    
    p {
        font-family: "roboto-regular", Arial, Helvetica, sans-serif ;
        color: darken($main-grey, 75);
        margin-bottom: 0px;
    }

    #location-description {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .fa-map-marker-alt:before {
        color: darken($main-grey, 75);
        padding-right: 16px;
    }
}

#company-description {
    background-color: $main-grey;
    padding: 16px 24px 32px;
    text-align: center;

    h2 {
        font-family: "roboto-medium";
    }

    p {
        font-family: "roboto-thin";
        font-size: 18px;
    }

    #explore {
        display: flex;
        justify-content: center;
    
        #explore-clic {
            font-size: 14px;
            margin-top: 24px;
            margin-bottom: 16px;
            color: white;
            background: linear-gradient($color-secondary, $color-primary);
            padding: 16px 24px;
            border: none;
            border-radius: 32px 32px;
            outline: none;
            @include shadow-box;
        }
    }
}

h3 {
    font-family: "roboto-medium";
    font-size: 24px;
}

nav {
    margin: 40px 16px; 

    p {
        font-family: "roboto-medium";
    }
    
    .nav-menu {
        display: flex;
        align-items: center;
        background-color: $main-grey;
        border-radius: 16px 16px;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-bottom: 16px;
        @include shadow-box;
    }

    .number {
        position: absolute;
        left: 15px;
        color: white;
        background-color: $color-primary;
        border-radius: 16px 16px;
        padding: 3px 8px;
    }
    
    .fas {
        color: darken($main-grey, 45);
        padding-left: 40px;
        padding-right: 32px;
    }

    .nav-menu-purple {
        background-color: lighten($color-primary, 35);
    }

    .fa-store-purple {
        color: $color-primary;
    }
}

h4, p {
    margin-top: 4px;
    margin-bottom: 4px;
}

section {
    margin-top: 32px;
    padding: 32px 16px;
    background-color: $main-grey;
    
    .restaurant {
        background-color: white;
        border-radius: 16px 16px;
        margin-bottom: 16px;
        @include shadow-box;
    }

    .cover-image {
        object-fit: cover;
    }

    .restaurant-image {
        width: 327px;
        height: 180px;
        border-radius: 16px 16px 1px 1px;
    }

    .button-new {
        position: absolute;
        padding: 8px 16px;
        margin-top: 16px;
        margin-left: 226px;
        background-color: $color-tertiary;
        border: none;
        border-radius: 2px 2px;
        color: darken($color-tertiary, 40);
    }

    h4 {
        font-family: "roboto-medium";
        font-size: 18px;
    }

    p {
        font-size: 17px;
        font-family: "roboto-light";
    }

    .restaurant-link {
        text-decoration: none;
        color: black;
        :active {
            color: lighten($color-primary, 10);
        }
    }

    .restaurant-description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px 8px;
    }

    .fa-heart {
        font-size: 24px;
    
        .fa-heart:focus {
            outline: none;
        }
    }
}

.fa-heart {
    :hover + .full-heart {
        transform: scale(1);
        span {
            transform: translateY(0);
        }
    }
}

.full-heart {
    transform: scale(0.1);
    transition: transform 330ms ease-in-out;
    overflow: hidden;
    span {
        display: inline-block;
        transform: translateY(250%);
        transition: transform 280ms ease-out 50ms;
    }
}