#location {
    background-color: darken($main-grey, 4);
    
    p {
        font-family: "roboto-regular", Arial, Helvetica, sans-serif ;
        color: darken($main-grey, 75);
        margin-bottom: 0px;
    }

    #location-description {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .fa-map-marker-alt:before {
        color: darken($main-grey, 75);
        padding-right: 16px;
    }
}

#company-description {
    background-color: $main-grey;
    padding: 16px 24px 32px;
    text-align: center;

    h2 {
        font-family: "roboto-medium";
    }

    p {
        font-family: "roboto-thin";
        font-size: 18px;
    }

    #explore {
        display: flex;
        justify-content: center;
    
        #explore-clic {
            padding: 16px 24px;
            @include button;
            @include shadow-box;
        }   
    }
}

h3 {
    font-family: "roboto-medium";
    font-size: 24px;
}

nav {
    margin: 40px 16px; 

    p {
        font-family: "roboto-medium";
    }
    
    .nav-menu {
        display: flex;
        align-items: center;
        background-color: $main-grey;
        border-radius: 16px 16px;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-bottom: 16px;
        @include shadow-box;
    }

    .number {
        position: absolute;
        left: 15px;
        color: white;
        background-color: $color-primary;
        border-radius: 16px 16px;
        padding: 3px 8px;
    }
    
    .fas {
        color: darken($main-grey, 45);
        padding-left: 40px;
        padding-right: 32px;
    }

    .nav-menu-purple {
        background-color: lighten($color-primary, 35);
    }

    .fa-store-purple {
        color: $color-primary;
    }
}

h4, p {
    margin-top: 4px;
    margin-bottom: 4px;
}

section {
    margin-top: 32px;
    padding: 32px 16px;
    background-color: $main-grey;
    
    .restaurant {
        background-color: white;
        border-radius: 16px 16px;
        margin-bottom: 16px;
        @include shadow-box;
    }

    .cover-image {
        object-fit: cover;
    }

    .restaurant-image {
        width: 327px;
        height: 180px;
        border-radius: 16px 16px 1px 1px;
    }

    .button-new {
        position: absolute;
        padding: 8px 16px;
        margin-top: 16px;
        margin-left: 226px;
        background-color: $color-tertiary;
        border: none;
        border-radius: 2px 2px;
        color: darken($color-tertiary, 40);
    }

    h4 {
        font-family: "roboto-medium";
        font-size: 18px;
    }

    p {
        font-size: 17px;
        font-family: "roboto-light";
    }

    .restaurant-link {
        text-decoration: none;
        color: black;
        :active {
            color: lighten($color-primary, 10);
        }
    }

    .restaurant-description {
        @include flex-between-center;
        padding: 8px 16px 8px;
    }

    .fa-heart {
        font-size: 24px;
    
        .fa-heart:focus {
            outline: none;
        }
    }

    #heart {
        @include heart-fill;
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #spinner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.3);
  }

  @keyframes loadingOut {
    to { visibility: hidden; }
  }

  @keyframes bodyScrollOff {
    to { overflow: auto; }
  }

  body {
      overflow: hidden;
      animation: bodyScrollOff 0s 2s forwards;
    }

  #spinner {
    animation: loadingOut 0s 2s forwards;
  }

  

