#header-la-palette {
    @include flex-between-center;
    padding: 16px 90px 16px 16px;

    .fa-arrow-left {
        font-size: 20px;
    }

    h1 {
        margin-top: 0px;
    }
}

#cover-image {
    width: 358px;
    height: 240px;
    position: relative;
    object-fit: cover;
}

#la-palette {
    padding-top: 32px;
    border-radius: 40px 40px 1px 1px;
    position: relative;
    margin-top: -40px;

    .heart {
        @include heart-fill;
    }

    h3 {
        font-family: "roboto-light";
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 32px;
        position: relative;
        padding-bottom: 8px;
        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 40px;
            height: 3px;
            content: "";
            background: $color-tertiary;
        }
    }

    #menu-title {
        @include flex-between-center;
        margin-top: 0px;
        padding-right: 16px;
        font-size: 18px;

        h2 {
            font-family: shrikhand;
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }

    .menu {
        @include flex-between-center;
        margin-bottom: 16px;
        background-color: white;
        border-radius: 16px 16px;
        padding-left: 10px;
        height: 72px;
        @include shadow-box;
        cursor: pointer;
        &:active {
            .fa-check-circle {
                transform: rotate(360deg);
                transition: transform 400ms ease-in-out;
            }

            .check {
                transform: scale(1,1);
                width: auto;
                padding: 0 20px;
            }
        }
    
        .check {
            @include flex-center-center;
            color: white;
            background-color: $color-tertiary;
            font-size: 20px;
            border-radius: 1px 16px 16px 1px;
            transform: scale(0,1);
            transform-origin: right;
            transition: transform 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
            width: 0px;
            height: 72px;
            padding: 0;
        }

        .fa-check-circle {
            transform: rotate(180deg);
        }

        .menu-description {
            display: flex;
            align-items: flex-end;
            flex-grow: 1;
            @include overflow;
            &:active {
                @include overflow;
            }
        }

        .title-description {
            flex-grow: 1;
            @include overflow;
        }

        h4, p {
            @include overflow;
        }

        h4 {
            font-family: "roboto-medium";
            font-size: 18px;
        }

        p {
            font-size: 15px;
            font-family: "roboto-light";
        }

        .price {
            font-family: "roboto-medium";
            margin-left: 16px;
            margin-right: 16px;
        }
    }
}

#order {
    display: flex;
    justify-content: center;

    #order-clic { 
        padding: 16px 48px;
        @include button;
        @include shadow-box;
    }
}

@keyframes fadein {
    to {opacity: 1;}
}

.starter, .dish, .dessert {
    opacity: 0;
}

.starter {
   animation: fadein 2s 1s forwards;
}

.dish {
    animation: fadein 2s 1.5s forwards;
}

.dessert {
    animation: fadein 2s 2s forwards;
}

@media only screen and (min-width : 768px) and (max-width : 1023px) {
    #header-la-palette {
        padding-right: 260px;
    }

    #cover-image {
        width: 100%;
        object-fit: cover;
    }

    h2, h3 {
        margin-left: 16px;
    }

    .menu-all {
        display: flex;
        flex-wrap: wrap;
    }

    .menu {
        width: 213px;
        margin-right: 8px;
        margin-left: 8px;
    }
}

@media only screen and (min-width : 1024px) {
    #header-la-palette {
        padding-right: 400px;
    }

    #cover-image {
        width: 100%;
        object-fit: cover;
    }

    h2, h3 {
        margin-left: 16px;
    }

    .menu-all {
        display: flex;
        flex-wrap: wrap;
    }

    .menu {
        width: 296px;
        margin-right: 8px;
        margin-left: 8px;
    }

    .heart {
        &:hover {
            .full-heart {
                transform: scale(1);
            }
        }
    }
}