#header-la-palette {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 90px 16px 16px;

    .fa-arrow-left {
        font-size: 20px;
    }

    h1 {
        margin-top: 0px;
    }
}

#cover-image {
    width: 358px;
    height: 240px;
    position: relative;
}

#la-palette {
    margin-top: 0px;
    padding-top: 40px;
    border-radius: 40px 40px 1px 1px;
    position: relative;
    margin-top: -40px;

    h3 {
        font-family: "roboto-light";
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 40px;
    }

    #menu-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;
        padding-right: 16px;
        font-size: 18px;

        h2 {
            font-family: shrikhand;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 8px 16px;
        margin-bottom: 16px;
        background-color: white;
        border-radius: 16px 16px;
        @include shadow-box;

        h4 {
            font-family: "roboto-medium";
            font-size: 18px;
        }

        p {
            font-size: 15px;
            font-family: "roboto-light";
        }

        .price {
            font-family: "roboto-medium";
        }
    }

    #order {
        display: flex;
        justify-content: center;

        #order-clic {
            font-size: 14px;
            margin-top: 24px;
            margin-bottom: 16px;
            color: white;
            background: linear-gradient($color-secondary, $color-primary);
            padding: 16px 48px;
            border: none;
            border-radius: 32px 32px;
            outline: none;
            @include shadow-box;
        }

        #order-clic:hover {
            cursor: pointer;
        }
    }
}